html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overscroll-behavior: none;
}
canvas {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}
