{{ define "head"}}
  {{ $style := resources.Get "styles/homepage.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
  <main id="js-list" class="card-list grid">
    <div class="card grid-item">
      <div class="card__content" itemscope itemtype="http://schema.org/Person">
        <h1 class="name" itemprop="name">Radek Novák</h1>
        <pre class="role u-center"><span itemprop="jobTitle">developer</span> at <a href="http://mycs.com" class="out" itemprop="worksFor">mycs</a></pre>
        
        <div class="link-wrap"><a href="http://github.com/Radek-Novak" class="out">github</a></div>
        <div class="link-wrap"><a href="https://www.linkedin.com/in/novakr" class="out">linkedin</a></div>
        <div class="link-wrap"><a href="http://codepen.io/RDKNVK/" class="out">codepen</a></div>
        <div class="link-wrap"><a href="mailto: radek.novak.cze@gmail.com" class="out">e-mail</a></div>
      </div>
    </div>
    
    {{ partial "cardFilters.html" . }}
    
    {{ range .Site.Data.cards }}
      {{ partial "card.html" . }}
    {{end }}
    
  </main>
  
  <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
  <script src="/js/index.js"></script>
{{ end }}