@mixin artikel-content($selector) {
  .#{$selector}:before {
    content: $selector;
  }
}

$lum: 40%;

body {
  padding: 1rem;
}
section {
  margin-bottom: 2em;
}
h1,
h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}
a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.adj-wrap {
  position: relative;
  display: flex;

  table {
    margin-bottom: 2em;
  }
}

.scrollable-x {
  overflow: auto;
  max-width: calc(100vw - 2rem);
}

.table {
  th {
    padding: 0 0.2em;
  }
  td {
    color: white;
    text-align: center;
  }
}

.table--grey {
  td {
    background: grey;
    padding: 0 0.5em;
  }
}
.postatic {
  position: sticky;
  top: 0;
  left: 0;

  tr:not(:first-child) th {
    background: white;
    text-align: right;
  }
}

@include artikel-content("der");
@include artikel-content("die");
@include artikel-content("das");
@include artikel-content("den");
@include artikel-content("des");
@include artikel-content("dem");
@include artikel-content("-er");
@include artikel-content("-e");
@include artikel-content("-en");
@include artikel-content("-es");
@include artikel-content("-em");

.der,
.-er {
  background-color: hsl(180, 100%, $lum);
}

.die,
.-e {
  background-color: hsl(0, 100%, $lum);
}

.das {
  background-color: hsl(120, 100%, $lum);
}

.den,
.-en {
  background-color: hsl(60, 100%, $lum);
}

.dem,
.-em {
  background-color: hsl(240, 100%, $lum);
}

.des,
.-es {
  background-color: hsl(300, 100%, $lum);
}
