html {
  box-sizing: border-box;
  quotes: "„" "”" "‚" "’";
}

body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  color: #000;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}
